PORT=5000

# Local Docker MongoDB: mongodb://127.0.0.1:27017/school_mgmt
# Render / Production MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/school_mgmt?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://admin_school:MyPassword123@cluster0.xxxx.mongodb.net/school_mgmt?retryWrites=true&w=majority

JWT_SECRET=supersecretjwtkey12345!

# Gmail SMTP Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_16_character_app_password
EMAIL_FROM=your_gmail@gmail.com

FIREBASE_PROJECT_ID=school-mgmt-13917
CLIENT_URL=http://localhost:5173
